.DS_Store

/.idea
.travis.yml

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/css/generated/
web/js/generated/
web/.htaccess

media/*


# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/bootstrap.php.cache
app/cache/dev/*
app/cache/prod/*
~                  
#composer.json
composer.lock


